body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

/* Light Mode */
.app-container {
  background: #f9fafb;
  color: #111827;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark Mode */
.app-container.dark {
  background: #111827;
  color: #ffffff;
}

/* Card */
.generator-card {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

/* Dark card */
.app-container.dark .generator-card {
  background: #1f2937;
}

/* Title */
.title {
  color: inherit;
}

/* Number */
.random-number {
  font-size: 60px;
  color: inherit;
}

/* Display box */
.number-display {
  margin: 20px 0;
  padding: 30px;
  border: 2px dashed gray;
}

/* Buttons */
.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* GREEN Generate */
.generate-btn {
  background: green;
  color: white;
}

/* Reset */
.reset-btn {
  background: lightgray;
}

/* Toggle button */
.toggle-btn.inside {
  position: absolute;
  top: 10px;
  left: 10px;
}